.cardContainer {
    -fx-background-color: black;
    -fx-background-radius: 10;
}

.cardBackground {
    -fx-background-color: #7ca98a;
    -fx-background-radius: 6;
    -fx-background-repeat: stretch;
    -fx-background-size: stretch stretch;
}

.frameHeader {
    -fx-background-radius: 18px;
    -fx-background-color: #d1cfc3;
    /*-fx-effect: dropshadow(gaussian, #171314, 2, 1, 0, 0);*/
    /*-fx-effect: dropshadow(gaussian, #26714A, 6, 1, 0, 0);*/
}

.cardName {
    -fx-font-size: 30;
    -fx-padding: 0 0 0 20;
}

.cardText {
    -fx-font-size: 40;
    -fx-background-color: #def2ed;
}