* {
    -fx-green: #7ca98a;
    -fx-red: #c76561;
    -fx-blue: #5288a9;
    -fx-black: #3b3b3b;
    -fx-white: #e1e1e1;
    -fx-gray: #aeaeae;
    -fx-gold: #ae9d4e;
}

.cardContainer {
    -fx-background-color: black;
    -fx-background-radius: 10;
}

.cardBackground.green {
    -fx-background-color: -fx-green;
}

.cardBackground.red {
    -fx-background-color: -fx-red;
}

.cardBackground.blue {
    -fx-background-color: -fx-blue;
}

.cardBackground.black {
    -fx-background-color: -fx-black;
}

.cardBackground.white {
    -fx-background-color: -fx-white;
}

.cardBackground.gray {
    -fx-background-color: -fx-gray;
}

.cardBackground.gold {
    -fx-background-color: -fx-gold;
}

/*-----------*/
.cardBackground.blackGreen {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-green 0%, -fx-black 100%);
}

.cardBackground.blackRed {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-red 0%, -fx-black 100%);
}

.cardBackground.blackBlue {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-blue 0%, -fx-black 100%);
}

.cardBackground.blackWhite {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-white 0%, -fx-black 100%);
}

.cardBackground.greenRed {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-red 0%, -fx-green 100%);
}

.cardBackground.greenBlue {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-blue 0%, -fx-green 100%);
}

.cardBackground.greenWhite {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-white 0%, -fx-green 100%);
}

.cardBackground.redBlue {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-blue 0%, -fx-red 100%);
}

.cardBackground.redWhite {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-white 0%, -fx-red 100%);
}

.cardBackground.blueWhite {
    -fx-background-color: linear-gradient(from 40% 50% to 60% 50%, -fx-white 0%, -fx-blue 100%);
}

/*-----------*/


.cardBackground {
    -fx-background-color: #e100b1; /*shows when a card doesn't have a correct background set*/
    -fx-background-radius: 6;
    -fx-background-repeat: stretch;
    -fx-background-size: stretch stretch;
}

.frameHeader {
    -fx-background-radius: 18px;
    -fx-background-color: #d1cfc3;
    /*-fx-effect: dropshadow(gaussian, #171314, 2, 1, 0, 0);*/
    /*-fx-effect: dropshadow(gaussian, #26714A, 6, 1, 0, 0);*/
}

.cardName {
    -fx-font-size: 30;
    -fx-padding: 0 0 0 20;
}

.cardText {
    -fx-font-size: 40;
    -fx-background-color: #def2ed;
}

.attackDefense {
    -fx-background-color: #d0d0d0;
    -fx-font-size: 40;
}